In [ ]:
help('keywords')

:

In [1]:
4+4

8

In [2]:
4+4

8

In [6]:
13 & 6

4

In [7]:
#identifiers
#keyword
#oprators - 
Arithmetic - +,-,*,/,**(power),//,% 
relational - ==,!=,>,<,>=,<=
Assignment - =,+=,-=,*=,/=
Logical (only for boolian data) - and,or,not 
Membership - in,not in 
Bitwise -  &,|,~,^,>>,<<
Identity - is , is not 
# data types / Data classes
    #numeric - int , float , complex [ type (DATA) - for data type of data]
    # sequence - 
    #             str : immutable collection of characters ' '," ",''' '''
    #         []  list: mutable and unstructured collection of hetrogenious elements
    #         ()  tuple : immutable & structured calloction of hetrogenious elements    
    # Mapping - 
    #         {}  dict : mutable & structured call of key-value pairs         
    # Set - 
    #         {}  set  : unordered call of unique items
    #Boolean :
         # bool : True False (ANY THING NON-ZERO OR NON-EMPTY IS TRUE)
    #Empty data : 
         # NoneType : None
    #Data Operations (Collections)
       # 1. Item Accessing (Indexing /Slicing/Subscription)
       # 2. Item Insertion
       # 3. Item Assignment(possible with mutable only)
       # 4. Item Deletion  (possible with mutable only)     
# MUTABLE (Variable) & IMMUTABLE(Constant)    
# len() - length of any thing

SyntaxError: invalid syntax (341474274.py, line 4)

In [5]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [8]:
a = 'a sample string'

In [9]:
len(a)

15

In [12]:
a[-3]

'i'

In [14]:
#slicing  a[start:stop(not included):stepsize]
########### a[0    :end  :+ve]
########### a[end  :0    :-ve]
a[2:8:1]

'sample'

In [15]:
a[:8]

'a sample'

In [19]:
a

'a sample string'

In [16]:
a[8:]

' string'

In [31]:
#reverse full string 
a[::-1]

'gnirts elpmas a'

In [36]:
t=[4,6,'hi','hello']

In [37]:
t

[4, 6, 'hi', 'hello']

In [38]:
t[3]

'hello'

In [39]:
t[3][0]

'h'

In [43]:
t[3][1]

'e'

In [45]:
d={'a',23,'saf',21}

In [50]:
d

{21, 23, 'a', 'saf'}

In [3]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [4]:
d1

[{'a': 34}, 66, {'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}]

In [6]:
d1[1]

66

In [11]:
d1[2]

{'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}

In [13]:
d1[2]['66']

[{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]

In [15]:
d1[2]['66'][0]

{'00': [98, 'hi']}

In [17]:
d1[2]['66'][0]['00']

[98, 'hi']

In [19]:
d1[2]['66'][0]['00'][0]

98

In [21]:
d1

[{'a': 34}, 66, {'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}]

In [23]:
d1[2]

{'66': [{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]}

In [24]:
d1[2]['66']

[{'00': [98, 'hi']}, 'awesome', {'m': 'n'}]

In [26]:
d1[2]['66'][1]

'awesome'

In [27]:
d1[2]['66'][1][2]

'e'

In [39]:
s='468hi3.4' #string
a=[4,6,8,'hi',3.4] #list
b=(4,6,8,'hi',3.4) # tuple
c={4:6,8:['hi',3.4]} # dict
d={4,6,8,'hi',3.4}   #set

In [3]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [4]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [10]:
s=s+'hi'   
# + operator  
s

'468hi3.4hihi'

In [11]:
a=a+[2,4,'hello']
a

[4, 6, 8, 'hi', 3.4, 2, 4, 'hello']

In [12]:
b=b+(1,2)
b

(4, 6, 8, 'hi', 3.4, 1, 2)

In [ ]:
# + don't work for dictionary and set

In [16]:
s+='K'
s

'468yohi3.4hihiKKK'

In [20]:
# add string at any position of string  
s=s[:3] + 'yo' + s[3:]
s

'468yoadded the stringyoyoyohi3.4hihiKKK'

In [21]:
a

[4, 6, 8, 'hi', 3.4, 2, 4, 'hello']

In [25]:
a = a[:7] + ['bye']
a

[4, 6, 8, 'hi', 3.4, 2, 4, 'bye']

In [7]:
a+= ['Bye']
a

NameError: name 'a' is not defined

In [29]:
b += ('bye',) # creating a single valued tuple ('sting',)
b

(4, 6, 8, 'hi', 3.4, 1, 2, 'bye')

In [30]:
b = b[:1] + (21,) + b[1:]
b

(4, 21, 6, 8, 'hi', 3.4, 1, 2, 'bye')

In [12]:
(*a,*b,*s)   # '*' before any string makes it a single valued tuple
# (*args,**kwargs)

(4,
 6,
 8,
 'hi',
 3.4,
 4,
 6,
 8,
 'hi',
 3.4,
 '4',
 '6',
 '8',
 'h',
 'i',
 '3',
 '.',
 '4')

In [16]:
c[332] = 'adding to it '
print(c)
c[332]

{4: 6, 8: ['hi', 3.4], 332: 'adding to it '}

'adding to it '

In [18]:
c2={'a':45,'b': 35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 332: 'adding to it '}
{'a': 45, 'b': 35}

In [19]:
{**c,**c2}     # (**args,** kwargs)

{4: 6, 8: ['hi', 3.4], 332: 'adding to it ', 'a': 45, 'b': 35}

In [22]:
'hi'*3  # print 3 times

'hihihi'

In [37]:
## Item Assignment
# s[0]='a'    - NOT POSSIBLE
# a[0]='k'    # DONE
# b[0]='A'    - NOT POSSIBLE
#c[4] = 'S'    - DONE

## Item Delection
#del s[0]   - NOT POSSIBLE
#del a[0]   - DONE 
#del b[0]   #- NOT POSSIBLE 
#del c[0]  # - NOT POSSIBLE

KeyError: 0

In [46]:
bool('  ') , bool('') , bool(32) , bool() ,bool({}),bool(()), bool([]) , bool([({})])

(True, False, True, False, False, False, False, True)

In [47]:
# DATA TYPE BUILD-IN FUNCTION
    # str: upper , lower, find, split,strip,count,join,format.
    # list : append,sort,count,copy,insert,remove,,index,pop'
    # tuple : count,index
    # dict : keys,values,update,get,pop 
    # set: add,difference,union,pop, remove

In [52]:
a = 32+5j
a.imag

5.0

In [41]:
d='hello'
d=d.upper()
d

'HELLO'

In [4]:
d.find('E')

1

In [6]:
d.split('E')

['H', 'LLO']

In [8]:
'      h    o    '.strip()

'h    o'

In [11]:
d.strip('OE')

'HELL'

In [16]:
#'star'.join('WARS')
'-'.join('wars')

'w-a-r-s'

In [17]:
'#'.join('hi this is tyhe string')

'h#i# #t#h#i#s# #i#s# #t#y#h#e# #s#t#r#i#n#g'

In [18]:
'#'.join('hi this is tyhe string'.split())

'hi#this#is#tyhe#string'

In [22]:
d.count('L')

2

In [38]:
x=20
y=30
# z = 'ek aisa data jo 20 to 30 hai'
# (formate specifiers) - NOT ADVISABLE TO USE       
z = 'ek aisa data jo %d to %d hai'%(x,y)
z1 = 'ek aisa data jo %d to %d hai and %d jaruri hai'%(x,y,x)
z1
# using formate function
z='ek aisa data jo {} to {} hai'
z = z.format(x,y)
#              OR
z = 'ek aisa data jo {} to {} hai'.format(x,y)
z
# using format index to print data index wise
z1 = 'ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'.format(x,y)
z1
#using f-string 
zf = f'ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [53]:
e=[21,32,'des','hi']

In [63]:
e.append('ho')
e.append('o')
e

[21, 32, 'des', 'hi', 'ho', 'o']

In [64]:
e.remove('ho')
e

[21, 32, 'des', 'hi', 'o']

In [72]:
e1=[21,54,34,6]
e1.sort(reverse=False)
e1

[6, 21, 34, 54]

In [77]:
f1 = (12,43,65,'rf')
f1.sort(key= ,  )

AttributeError: 'tuple' object has no attribute 'sort'

In [80]:
f1 = list(f)
f1.sort(reverse=True)
f1=tuple(f1)
f1

NameError: name 'f' is not defined

In [82]:
list(c.keys())[0]

4

In [83]:
c.get('Z','oh No')

'oh No'

In [84]:
c

{4: 6, 8: ['hi', 3.4]}

In [85]:
e3 = e
e3

[21, 32, 'des', 'hi', 'o']

In [87]:
e4 = e.copy()
e4

[21, 32, 'des', 'hi', 'o']

In [88]:
e.append(8)

In [89]:
e3

[21, 32, 'des', 'hi', 'o', 8]

In [90]:
e4

[21, 32, 'des', 'hi', 'o']

In [95]:
p=[3,8,2,4,6,35,3,67,3,6,35,7,4,6,46,68]
p1=set(p)
p1
# p1 is a set of p so elements of p will get sorted

{2, 3, 4, 6, 7, 8, 35, 46, 67, 68}